@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-components.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
  font-family: "Roboto", sans-serif;
  height: 1000vh;
  color: #2e363e;
}
