.chat_body {
  height: 110vh;
}

.main-screen {
  margin: 3px 0 3px -23px;
}

.user-component__chats {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.user-component__text_chats {
  color: black;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.user-component__subtitle_chats {
  margin-top: 8px;
  font-weight: 400;
  font-size: 15px;
  color: rgb(136, 129, 129);
}

.chat_badge {
  position: relative;
  top: 3px;
  left: 28px;
}
