.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20px 25px 25px;
}

.screen-header__title {
  font-size: 24px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}
